@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
<button @onclick="ToggleTheme" style="position: absolute; top: 1rem; right: 1rem;">🌙/☀</button>

@code {
    private bool dark = false;

    void ToggleTheme()
    {
        dark = !dark;
        var theme = dark ? "dark-mode" : "";
        _ = JS.InvokeVoidAsync("setTheme", theme);
    }

    [Inject] IJSRuntime JS { get; set; } = default!;
}
